:root {
    --bodyLight: rgb(240, 236, 230);
    --bodyDark: rgb(6, 0, 18);
    --textDark: rgb(65, 57, 71);
    --projectFont_1: 'Bungee Inline';
}

body {
    margin: 0;
    padding: 0;
    background: var(--bodyDark);
    font-family: 'Azeret Mono';
}


/* Background */

.backSplash {
    width: auto;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    clip-path: polygon(100% 0, 65% 50%, 35% 50%, 0 100%, 0 0);
    background: var(--bodyLight);
}


/* Header (Name) */

.name {
    position: absolute;
    margin: 20px 30px;
    text-align: center;
    font-size: 3.5rem;
    color: var(--textDark);
    font-weight: bold;
    text-shadow: 5px 5px 10px gray;
}


/* Navigation */

.footMenu {
    display: flex;
    justify-content: right;
    position: sticky;
    bottom: 4%;
    right: 4%;
    margin: 0;
    padding: 0;
    color: var(--bodyLight);
    overflow: hidden;
}

.menuItems {
    margin: 10px;
    text-decoration: none;
    color: var(--bodyLight);
    cursor: pointer;
}


/* Project Display Cards */

.projectsDisplay {
    position: absolute;
    top: 10vh;
    height: 100%;
    width: 100%;
}

.projectsDisplayRow1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projectsDisplayRow2 {
    display: flex;
    flex-direction: row;

}

.project {
    width: 275px;
    height: 275px;
    margin: 30px;
    overflow: visible;
    border-radius: 30px;
    transition: transform 0.25s ease-in-out;
    -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}

.project:hover {
    transform: scale(1.05);
}

.project1 {
    white-space: nowrap;
    font-size: 3rem;
    font-family: monospace;
}


/* Media Queries */

@media screen and (max-width: 1480px) {

    .name {
        font-size: 2.75rem;
    }
}

@media screen and (max-width: 720px) {

    .name {
        font-size: 1.6rem;
        writing-mode: vertical-lr;
    }
}

@media screen and (max-width: 450px) {

    .footMenu {
        position: absolute;
        bottom: 4%;
        right: 4%;
        margin: 0;
        padding: 0;
        writing-mode: vertical-lr;
        color: var(--bodyLight);
    }

    .menuItems {
        margin: 10px;
        font-size: 1.2rem;
    }
}